<div>Search widget</div>

<!--<ol>-->
<!--    <li>kdjf</li>-->
<!--    <li>kdjf</li>-->
<!--    <li>kdjf</li>-->
<!--</ol>-->
<!--<h1>lskdjfdf</h1>-->
<!--<button class="rounded border">Button</button>-->
<!--<form>-->
<!--    <label for="first-name">First Name: </label>-->
<!--    <input id="first-name" type="text" formControlName="firstName">-->

<!--    <label for="last-name">Last Name: </label>-->
<!--    <input id="last-name" type="text" formControlName="lastName">-->
<!--</form>-->

<cpe-button
    [id]="'button-01'"
    [text]="'Change background'"
    (click)="changeBG()"
    [disabled] = "false"
    [variant]="'Primary'">
</cpe-button>

<cpe-button
    [id]="'button-01'"
    [text]="'Search'"
    (click)="search()"
    [disabled] = "false"
    [variant]="'Primary'">
</cpe-button>
