<div>Search widget</div>
<br>
<cpe-button
    [id]="'button-01'"
    [text]="'Change background'"
    (click)="changeBG()"
    [disabled] = "false"
    [variant]="'Primary'">
</cpe-button>
<br>
<cpe-button
    [id]="'button-02'"
    [text]="'Search'"
    (click)="search()"
    [disabled] = "false"
    [variant]="'Primary'">
</cpe-button>
<br>
<cpe-button
    [id]="'button-03'"
    [text]="'Search Fail'"
    (click)="searchWithError()"
    [disabled] = "false"
    [variant]="'Primary'">
</cpe-button>
