<div class="bg-surface">
    <!--  header  -->
    <app-header-widget [data]="header"></app-header-widget>

    <!--  body container -->
    <div class="gridster-container bg-surface" style="height: calc(100vh - 120px)">

        <!--  body  -->
        <gridster [class]="showGrid? 'bg-primary' : 'bg-surface'" *ngIf="!error" [options]="bodyGridOptions" style="height: auto">
            <gridster-item *ngFor="let item of bodyDashboard" [item]="item" [ngSwitch]="item['type']" class="bg-surface">
                <app-image-widget *ngSwitchCase="'image'" [data]="item['data']"></app-image-widget>
                <app-text-widget *ngSwitchCase="'text'" [text]="item['data']"></app-text-widget>
                <app-search-widget *ngSwitchCase="'search'"></app-search-widget>
                <app-result-widget *ngSwitchCase="'result'"></app-result-widget>
            </gridster-item>
        </gridster>

        <!--  error page  -->
        <div *ngIf="error" class="flex flex-col items-center justify-center h-full">
            <div>
                The page couldn't be displayed.<br>
                Go back or try another page.
            </div>
        </div>
    </div>

    <!--  footer  -->
    <app-footer-widget [data]="footer"></app-footer-widget>
</div>
