<!--  header  -->
<app-header-widget [data]="header"></app-header-widget>

<!--  body container -->
<div class="gridster-container" style="height: calc(100vh - 120px)">

    <!--  body  -->
    <gridster [ngClass]="showGrid? 'show-grid' : 'hide-grid'" *ngIf="!error" [options]="bodyGridOptions" style="height: auto">
        <gridster-item *ngFor="let item of bodyDashboard" [item]="item" [ngSwitch]="item['type']">
            <app-image-widget *ngSwitchCase="'image'" [data]="item['data']"></app-image-widget>
            <app-text-widget *ngSwitchCase="'text'" [text]="item['data']"></app-text-widget>
            <app-search-widget *ngSwitchCase="'search'"></app-search-widget>
            <app-result-widget *ngSwitchCase="'result'"></app-result-widget>
        </gridster-item>
    </gridster>

    <!--  error page  -->
    <div class="flex flex-col items-center justify-center h-full" *ngIf="error">
        <div>
            The page couldn't be displayed.<br>
            Go back or try another page.
        </div>
    </div>
</div>

<!--  footer  -->
<app-footer-widget [data]="footer"></app-footer-widget>
