<gridster class="gridster-container" [options]="bodyGridOptions">

    <!--  header  -->
    <gridster-item *ngFor="let item of headerDashboard" [item]="item" [ngSwitch]="item['type']">
        <app-title-widget *ngSwitchCase="'title'" [title]="item['data']"></app-title-widget>
        <app-image-widget *ngSwitchCase="'image'" [data]="item['data']"></app-image-widget>
        <app-text-widget *ngSwitchCase="'text'" [text]="item['data']"></app-text-widget>
    </gridster-item>

    <!--  body  -->
    <gridster-item *ngFor="let item of bodyDashboard" [item]="item" [ngSwitch]="item['type']">
        <app-title-widget *ngSwitchCase="'title'" [title]="item['data']"></app-title-widget>
        <app-image-widget *ngSwitchCase="'image'" [data]="item['data']"></app-image-widget>
        <app-text-widget *ngSwitchCase="'text'" [text]="item['data']"></app-text-widget>
        <app-search-widget *ngSwitchCase="'search'"></app-search-widget>
        <app-result-widget *ngSwitchCase="'result'"></app-result-widget>
    </gridster-item>

    <!--  footer  -->
    <gridster-item *ngFor="let item of footerDashboard" [item]="item" [ngSwitch]="item['type']">
        <app-title-widget *ngSwitchCase="'title'" [title]="item['data']"></app-title-widget>
        <app-image-widget *ngSwitchCase="'image'" [data]="item['data']"></app-image-widget>
        <app-text-widget *ngSwitchCase="'text'" [text]="item['data']"></app-text-widget>
    </gridster-item>

</gridster>
