<div class="add-widget-container">
  <div>Modifying the body</div>
  <button (click)="addWidget('Widget 1')">Add Widget 1</button>
  <button (click)="addWidget('Widget 2')">Add Widget 2</button>
  <button (click)="addWidget('Widget 3')">Add Widget 3</button>
</div>

<gridster class="gridster-container"  [options]="options">
  <gridster-item [item]="item" *ngFor="let item of dashboard">
    <button (click)=removeWidget(item)>Remove Widget</button>
    {{item['title']}}
  </gridster-item>
</gridster>
